<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTP" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^ON$" />
          </conditions>
          <action type="Redirect" url="http://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule> 
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
